# Python 관련
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# 환경 설정 파일
.env
*.env

# 버전 관리 관련
.git
.gitignore
.gitattributes

# 빌드 출력 디렉토리
build/
dist/
*.egg-info/

# Docker 관련
Dockerfile
docker-compose.yml
.dockerignore

# 운영 체제 별 파일
.DS_Store
Thumbs.db

# 가상 환경 디렉토리
venv/
env/
.venv/

# IDE 및 편집기 설정 파일
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# 로그 파일
*.log

# 테스트 결과
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Static and media files
static/
media/

# 기타
*.swp
*.swo
